$font-instrument-sans: 'Instrument Sans', sans-serif, serif;

$white-color: white;
$eerie-black-color: #1a1a1a;
$transparent-color: transparent;
$venetian-red-color: #f44336;
$vital-green-color: #138859;

$mobile-width: 600px;
$tablet-p-width: 768px;
$tablet-l-width: 992px;
